/*Importando documentacion necesaria*/
@import url(/css/responsive.css);
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Pacifico&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --rellenoslaterales: 0px 20px 0px 20px;
}

.toolbar{
    width: 100%;
    height: 100px;
    background-color: #2b2825;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--rellenoslaterales);
    font-family: 'Oswald', sans-serif;
    
}

.toolbar .logo-nombre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}

.toolbar .logo{
    width: 80px;
    height: 80px;   
}

.toolbar .nombre-empresa{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    text-shadow: 3px 3px 8px black;
}
.toolbar .list-header{
    display: flex;
    gap: 30px;
    font-size: 18px;
    text-shadow: 3px 3px 8px black; 
}

.toolbar a{
    text-decoration: none;
    color: white;
}

.toolbar i, label, input{
    font-size: 20px;
    color: white;
    display: none;
}

/*Hover para el header*/

.toolbar .list-header a:hover{
    color: #ffc5b5;
    transition: all .3s;
}


main{
    width: 100%;
    /*Alto de 100vh que es 1 pantalla*/
    height: 90vh;
    background:linear-gradient(rgba(5,7,12,0.25), rgba(5,7,12,0.25)), url(https://moussepedia.com/imagenes/mousse-de-pina-y-coco-1024x683.jpg);
    background-position: center;
    background-repeat: no-repeat;

    /*Cubreme el tamaño del hero*/
    background-size: cover;
    z-index: -2;
    color: white;

}

.hero .contenido-home{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    align-items: flex-start;
    padding: 100px 100px 0px 100px;
    gap: 20px;
    text-shadow: 3px 3px 8px black;
}

.hero .contenido-home .text-home{
    font-family: 'Oswald', sans-serif;
}

.hero .contenido-home .seccion-videos{
    display: flex;
    width: 500px;
    padding-top: 10px;
}

.hero .contenido-home .seccion-videos .conocelos{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.hero .contenido-home .seccion-videos .conocelos:hover{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffc5b5;
    transition: all .3s;
    text-shadow: 3px 3px 8px black;
}

@media(max-width: 767px){

    .toolbar{
        display: flex;
        align-items: center;
        padding: 0px 15px 0px 15px;
        height: 90px;
    }

    .toolbar i, label{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 30px;
        width: 50px;
        height: 50px;
        border: solid 1px white;
    }

    .toolbar i:hover{
        color: #ffc5b5;
        border: solid 1px #ffc5b5;
        transition: all .3s;
    }

    .toolbar .list-header{
        transition: all .8s;
        position: absolute;
        z-index: -1;
        display: block;
        position: absolute;
        text-align: center;
        padding: 10px 0px 10px 0px;
        width: 100%;
        margin-left: -15px;
        margin-bottom: 100px;
        background-color: #2b2825;
        opacity: 0;
        z-index: -5;
        
    }

    .toolbar .list-header .item-list-header{
        padding: 10px 0px 10px 0px;
        
    }

    .toolbar input:checked ~ .list-header{
        display: block;
        position: absolute;
        text-align: center;
        padding: 10px 0px 10px 0px;
        margin-top: 50px;
        transform: translateY(85%);
        width: 100%;
        margin-left: -15px;
        background-color: #2b2825;
        opacity: 1;
        z-index: 1;
        
    }

    .hero .contenido-home{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 0px 0px 0px;
    }

    .hero .contenido-home .seccion-videos{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}